@import "tailwindcss";

@font-face {
  font-family: 'hogback';
  src: url('./assets/fonts/Hogback Demo Version.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

body{
  font-family: 'Epilogue';
}

.title1 {
    font-family: 'hogback';
}

